:host {
  display: grid;
  grid-template-columns: 1rem auto 3rem;
  align-items: center;
  gap: 1rem;
  background-color:  #0709178d;
  padding: 1rem;
  border-radius: 0.5rem;
}
.task-content{
  overflow: hidden;
}
.form-check-label{
  text-overflow: ellipsis;
}
.description{
  text-overflow: ellipsis;
}
