<div class="flex-layout needs-validation">
  <label htmlFor="inputPassword">{{ label }}</label>
  <div class="input-group">
    <input
      id="inputPassword"
      [type]="type"
      class="form-control"
      [ngClass]="{ 'was-validated is-invalid': control.dirty && control.invalid }"
      [placeholder]="placeholder || ''"
      [formControl]="control"
    />
    <span class="input-group-text" (click)="changeVisibility()">
      <i [ngClass]="{ 'bi bi-eye-slash': type === 'password', 'bi bi-eye': type === 'text' }"></i>
    </span>
  </div>
  <ng-template [ngIf]="control.errors && control.dirty">
    <small class="error">
      {{ control.errors | getErrorMessage: label : maxlength : minlength }}
    </small>
  </ng-template>
</div>
