:host {
  display: block;
  height: 100%;
  background-color: #070917bc;
}
aside {
  width: 18rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
}
.aside-header {
  padding-left: 1rem;
  margin-top: 1rem;
}
.aside-content {
  width: 100%;
  padding: 0 1.5rem 0 1rem;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.btn {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
