/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "bootstrap/scss/bootstrap";

@font-face {
  font-family: MuseoCyrl;
  src: url("./assets/fonts/MuseoCyrl500.otf");
}

$breakpoints: (
  "small": 560px,
  "medium": 980px,
  "large": 1200px,
) !default;

* {
  font-family: MuseoCyrl, Times, serif;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: #1d1e27;
  color: #ffffff;
}

.error {
  color: var(--bs-form-invalid-color);
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}
